body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.nav-light {
  background: #ededed;
}

.nav-dark {
  background: #000000;
}

nav {
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 20px; 
}

.a-light {
  color: #000000;
}

.a-dark {
  color: #fff;
}

a:hover {
  color: #626262;
}
